.DS_STORE
node_modules
scripts/flow/*/.flowconfig
.flowconfig
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
build/
remote-repo/
coverage/
.module-cache
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo
bin/

packages/react-devtools-core/dist
packages/react-devtools-extensions/chrome/build
packages/react-devtools-extensions/chrome/*.crx
packages/react-devtools-extensions/chrome/*.pem
packages/react-devtools-extensions/firefox/build
packages/react-devtools-extensions/firefox/*.xpi
packages/react-devtools-extensions/firefox/*.pem
packages/react-devtools-extensions/shared/build
packages/react-devtools-extensions/.tempUserDataDir
packages/react-devtools-inline/dist
packages/react-devtools-shell/dist
packages/react-devtools-scheduling-profiler/dist
node_modules/ansi-align/CHANGELOG.md
node_modules/ansi-align/package.json
node_modules/ansi-align/README.md
node_modules/boxen/index.js
node_modules/boxen/package.json
node_modules/boxen/readme.md
node_modules/boxen/node_modules/ansi-styles/index.js
node_modules/boxen/node_modules/ansi-styles/package.json
node_modules/boxen/node_modules/ansi-styles/readme.md
node_modules/boxen/node_modules/chalk/package.json
node_modules/boxen/node_modules/chalk/readme.md
node_modules/boxen/node_modules/is-fullwidth-code-point/index.js
node_modules/boxen/node_modules/is-fullwidth-code-point/license
node_modules/boxen/node_modules/is-fullwidth-code-point/package.json
node_modules/boxen/node_modules/is-fullwidth-code-point/readme.md
node_modules/boxen/node_modules/string-width/index.js
node_modules/boxen/node_modules/string-width/package.json
node_modules/boxen/node_modules/string-width/readme.md
node_modules/camelcase/index.js
node_modules/camelcase/license
node_modules/camelcase/package.json
node_modules/camelcase/readme.md
node_modules/ci-info/CHANGELOG.md
node_modules/ci-info/index.js
node_modules/ci-info/package.json
node_modules/ci-info/README.md
node_modules/ci-info/vendors.json
node_modules/cli-boxes/boxes.json
node_modules/cli-boxes/index.js
node_modules/cli-boxes/license
node_modules/cli-boxes/package.json
node_modules/cli-boxes/readme.md
node_modules/configstore/index.js
node_modules/configstore/license
node_modules/configstore/package.json
node_modules/configstore/readme.md
node_modules/configstore/node_modules/make-dir/index.js
node_modules/configstore/node_modules/make-dir/license
node_modules/configstore/node_modules/make-dir/package.json
node_modules/configstore/node_modules/make-dir/readme.md
node_modules/cross-spawn/CHANGELOG.md
node_modules/cross-spawn/index.js
node_modules/cross-spawn/LICENSE
node_modules/cross-spawn/package.json
node_modules/cross-spawn/README.md
node_modules/cross-spawn/lib/enoent.js
node_modules/cross-spawn/lib/parse.js
node_modules/cross-spawn/lib/util/readShebang.js
node_modules/cross-spawn/lib/util/resolveCommand.js
node_modules/crypto-random-string/index.js
node_modules/crypto-random-string/license
node_modules/crypto-random-string/package.json
node_modules/crypto-random-string/readme.md
node_modules/dot-prop/index.js
node_modules/dot-prop/license
node_modules/dot-prop/package.json
node_modules/dot-prop/readme.md
node_modules/get-stream/buffer-stream.js
node_modules/get-stream/index.js
node_modules/get-stream/license
node_modules/get-stream/package.json
node_modules/get-stream/readme.md
node_modules/global-dirs/index.js
node_modules/global-dirs/package.json
node_modules/global-dirs/readme.md
node_modules/got/license
node_modules/got/package.json
node_modules/got/readme.md
node_modules/is-ci/package.json
node_modules/is-installed-globally/index.js
node_modules/is-installed-globally/package.json
node_modules/is-installed-globally/readme.md
node_modules/is-npm/index.js
node_modules/is-npm/package.json
node_modules/is-npm/readme.md
node_modules/is-obj/index.js
node_modules/is-obj/license
node_modules/is-obj/package.json
node_modules/is-obj/readme.md
node_modules/is-path-inside/index.js
node_modules/is-path-inside/license
node_modules/is-path-inside/package.json
node_modules/is-path-inside/readme.md
node_modules/latest-version/index.js
node_modules/latest-version/license
node_modules/latest-version/package.json
node_modules/latest-version/readme.md
node_modules/nodemon/.travis.yml
node_modules/nodemon/package.json
node_modules/nodemon/README.md
node_modules/nodemon/doc/cli/help.txt
node_modules/nodemon/doc/cli/options.txt
node_modules/nodemon/lib/nodemon.js
node_modules/nodemon/lib/config/index.js
node_modules/nodemon/lib/monitor/run.js
node_modules/package-json/index.js
node_modules/package-json/license
node_modules/package-json/package.json
node_modules/package-json/readme.md
node_modules/path-key/index.js
node_modules/path-key/license
node_modules/path-key/package.json
node_modules/path-key/readme.md
node_modules/prepend-http/index.js
node_modules/prepend-http/license
node_modules/prepend-http/package.json
node_modules/prepend-http/readme.md
node_modules/registry-auth-token/base64.js
node_modules/registry-auth-token/CHANGELOG.md
node_modules/registry-auth-token/index.js
node_modules/registry-auth-token/package.json
node_modules/registry-auth-token/README.md
node_modules/registry-auth-token/registry-url.js
node_modules/registry-url/index.js
node_modules/registry-url/license
node_modules/registry-url/package.json
node_modules/registry-url/readme.md
node_modules/semver-diff/index.js
node_modules/semver-diff/license
node_modules/semver-diff/package.json
node_modules/semver-diff/readme.md
node_modules/shebang-command/index.js
node_modules/shebang-command/license
node_modules/shebang-command/package.json
node_modules/shebang-command/readme.md
node_modules/shebang-regex/index.js
node_modules/shebang-regex/license
node_modules/shebang-regex/package.json
node_modules/shebang-regex/readme.md
node_modules/term-size/index.js
node_modules/term-size/license
node_modules/term-size/package.json
node_modules/term-size/readme.md
node_modules/term-size/vendor/macos/term-size
node_modules/unique-string/license
node_modules/unique-string/package.json
node_modules/unique-string/readme.md
node_modules/update-notifier/check.js
node_modules/update-notifier/index.js
node_modules/update-notifier/package.json
node_modules/update-notifier/readme.md
node_modules/update-notifier/node_modules/ansi-styles/index.js
node_modules/update-notifier/node_modules/ansi-styles/package.json
node_modules/update-notifier/node_modules/ansi-styles/readme.md
node_modules/update-notifier/node_modules/chalk/package.json
node_modules/update-notifier/node_modules/chalk/readme.md
node_modules/url-parse-lax/index.js
node_modules/url-parse-lax/license
node_modules/url-parse-lax/package.json
node_modules/url-parse-lax/readme.md
node_modules/widest-line/index.js
node_modules/widest-line/package.json
node_modules/widest-line/node_modules/is-fullwidth-code-point/index.js
node_modules/widest-line/node_modules/is-fullwidth-code-point/license
node_modules/widest-line/node_modules/is-fullwidth-code-point/package.json
node_modules/widest-line/node_modules/is-fullwidth-code-point/readme.md
node_modules/widest-line/node_modules/string-width/index.js
node_modules/widest-line/node_modules/string-width/package.json
node_modules/widest-line/node_modules/string-width/readme.md
node_modules/write-file-atomic/CHANGELOG.md
node_modules/write-file-atomic/index.js
node_modules/write-file-atomic/package.json
node_modules/write-file-atomic/README.md
node_modules/xdg-basedir/index.js
node_modules/xdg-basedir/license
node_modules/xdg-basedir/package.json
node_modules/xdg-basedir/readme.md
